@import "variables.scss";
@import "breakpoints.scss";
.communicate {
    display: flex;
    flex-direction: column;
    &__line {
        border-top: 1px solid #000000;
        width: 100px;
        margin-right: auto;
        margin-left: 15px;
        opacity: 0.1;
        margin-top: 40px;
    }
}

.communicate-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.communicate-tip {
    width: 100%;
    margin: 40px 15px 0px 15px;
    &__decoration {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        width: 290px;
    }
    &__image-caption {
        color: $text-color;
        opacity: 0.6;
        font-size: 14px;
        line-height: 22px;
        margin-top: 17px;
    }
}

.communicate-column {
    margin: 50px 15px 0px 15px;
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: #0189d1;
        margin: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.5px;
        margin-top: 17px;
        margin-bottom: 0;
        letter-spacing: -0.36px;
    }
    &__description {
        margin-top: 18px;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 34px;
    }
    &__action-btn {
        margin-top: 27px;
    }
}

.communicate-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.communicate-block {
    margin: 33px 15px 0px 15px;
    &:last-child {
        margin-bottom: 50px;
    }
    &__text {
        color: $text-color;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 7px;
        span {
            font-weight: 700;
        }
    }
    &__link {
        margin-top: 26px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: $primary-button-color;
    }
}

@include small-screen {
    .communicate {
        align-items: center;
    }
}

@include large-screen {
    .communicate {
        width: $page-width;
        &__line {
            margin: 0;
            margin-left: 130px;
            margin-bottom: 41px;
        }
    }
    .massage {
        padding: 30px;
    }
    .communicate-container {
        width: 100%;
        margin-right: 130px;
        margin-left: 130px;
        flex-direction: row;
        margin-bottom: 110px;
        align-items: flex-start;
    }
    .communicate-block {
        margin: 0;
        margin-right: 33px;
        width: 358px;
        &:last-child {
            margin: 0;
        }
        &__text {
            margin-top: 0;
        }
    }
    .communicate-row {
        flex-direction: row;
        width: 100%;
        margin-top: 110px;
        margin-bottom: 26px;
        margin-right: 130px;
        margin-left: 130px;
    }
    .communicate-tip {
        margin: 0;
        margin-right: 62px;
        margin-left: auto;
        width: fit-content;
        &__image-caption {
            margin-top: 15px;
        }
        &__image {
            width: 426px;
        }
    }
    .communicate-column {
        margin: 0;
        margin-top: 13px;
        margin-bottom: auto;
        width: 460px;
        &__subtitle {
            line-height: 34px;
        }
        &__title {
            letter-spacing: -0.5px;
            font-size: 56px;
            line-height: 56px;
            margin-top: 24px;
        }
        &__description {
            margin-top: 30px;
        }
        &__action-btn {
            margin-top: 39px;
        }
    }
}