@import "variables.scss";
.popular-offer {
    background-color: #dc3f45;
    width: 147px;
    height: 25px;
    transform: rotate(45deg);
    top: 30px;
    position: absolute;
    left: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}