@import "variables.scss";
@import "breakpoints.scss";
.headline {
    width: 100%;
    &__banner {
        width: 100%;
        margin-bottom: 36px;
    }
    &__description {
        margin-top: 24px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
    }
    &__actions {
        margin-top: 30px;
    }
    &__learn-more-btn {
        background-color: #fff;
        color: $primary-button-color;
        margin-left: 10px;
    }
}

@include small_screen {
    .headline {
        &__actions>button {
            width: 100% !important;
            margin-top: 15px;
            margin-left: 0;
        }
        &__content {
            margin-bottom: 33px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@include large_screen {
    .headline {
        position: relative;
        width: $page-width;
        margin-top: 84px;
        display: flex;
        margin-left: 130px;
        padding-bottom: 77px;
        &__banner {
            position: relative;
            right: -105px;
            top: 0;
            width: 796px;
            height: 448px;
            margin-left: auto;
        }
        &__content {
            position: absolute;
            z-index: 1;
            margin: 0;
        }
        &__description {
            margin-top: 34px;
            height: 102px;
            width: 456px;
            font-size: 24px;
            line-height: 34px;
            z-index: 1;
            margin-bottom: 0;
        }
        &__title {
            width: 754px;
            height: 165px;
            font-weight: 700;
            font-size: 80px;
            line-height: 78px;
            letter-spacing: -0.5px;
            z-index: 1;
            margin: 0;
        }
        &__actions {
            margin-top: 58px;
            display: flex;
        }
        &__actions>button {
            margin-top: 0;
        }
        .learn-more-btn {
            margin-left: 10px;
        }
    }
}