@import "variables.scss";
@import "offer_block.scss";
@import "offer_basic.scss";
@import "offer_business.scss";
@import "offer_webshop.scss";
@import "common.scss";
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: $text-color;
}

.offer-blocks-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.page {
    padding: 115px 132px;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1440px;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $primary-backround-color;
}