@import "variables.scss";
.offer {
    overflow: hidden;
    background-color: $block-color;
    width: 380px;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__name {
        margin: 0;
        margin-top: 32px;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
    }
    &__type {
        margin: 0;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    &__description {
        margin: 0;
        margin-top: 40px;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        width: 328px;
    }
    &__button {
        margin: 0;
        margin-top: 39px;
        margin-bottom: auto;
        border: none;
        width: 155.63px;
        height: 40px;
        color: $text-color;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
}

.offer-list {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 15px;
        height: 50px;
        width: 100%;
        &:nth-child(odd) {
            background-color: $secondary-block-color;
        }
    }
    &__checkmark {
        margin-left: 22px;
        margin-right: 22px;
        object-fit: cover;
        width: 15px;
        height: fit-content;
    }
}

.price {
    margin-top: 31px;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__value {
        margin: 0;
        font-weight: 700;
        font-size: 55px;
        text-align: center;
    }
}