$text-color: #fff;
$primary-button-color: #3040c4;
$button-hover-color: #3141c5;
$primary-backround-color: #141b1c;
$block-color: #334247;
$secondary-block-color: #2a3438;
$page-width: 1140px;
$basic-offer-color: #5bb189;
$business-offer-color: #3a6ba5;
$webshop-offer-color: #ec632a;